<%- include('partials/header') -%>
<main class='container'>
    <div class='row justify-content-center'>
        <section class='col-6 mt-5'>
            <h1>test page</h1>
            <h2>trying to figure out what's going wrong with my intro view</h2>
            
            <p>wheeeeee</p>
        </section>
    </div>
</main>



<%- include('partials/footer') -%>